body {
    background: #efefef;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 18px;
}
a {
    color: #000000;
    text-decoration: underline;
}
a :hover {
    color: #000000;
    text-decoration: none;
}
h2 {
    font-size: 16px;
}
p{
   font-size: 14px;
}

ul.main-menu{ 
    background: #4385b8; 
    min-height: 40px; 
    width: 100%; 
    position: relative; 
    padding-left: 100px;
    }
  ul.main-menu li{ 
    list-style-type: none;
    }
  ul.main-menu > li > a{ 
    padding: 10px 20px; 
    color: #fff; 
    display: block; 
    float: left; 
    }
  ul.main-menu li:hover > a{ 
    background: #fff; 
    color: #367fa9; 
    }
  .submenu{ 
    position: absolute; 
    display: none; 
    background: #0d1f29; 
    padding: 20px; 
    width: 830px; 
    margin-top: 40px; 
    border-top: 5px solid #fff; 
    }
  .submenu h2{ 
    margin: 0px; 
    font-size: 24px;
    color: #fff; 
    }
  ul.sub{ 
    width: 25%; 
    float: left; 
    }
  ul.sub li a{ 
    padding: 10px 10px 10px 0px; 
    color: #fff; 
    display: block; 
    }
  ul.sub li a:hover{ 
    background: none !important; 
    color: #ccc; 
    }
  ul.main-menu li:hover .submenu{ 
    display: block; 
    }